.abs {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  background: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.abs-rel {
  position: absolute;
  /* 相对定位或绝对定位均可 */
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  /* 外边距为自身宽高的一半 */
  background-color: pink;
  /* 方便看效果 */
  z-index: 1;
}

.mid3 {
  position: relative;
  /* 相对定位或绝对定位均可 */
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  /* box-shadow:  */
}

.item {
  width: 100px;
  height: 100px;
  background: green;
  font-style: oblique;
  /* text-shadow:  */
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}