/* icon */
@font-face {
  font-family: "iconfont";
  src: url("../fonts/icon.eot");
  /* IE9*/
  src: url("../fonts/icon.eot") format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg") format("svg");
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-style: normal;
}

.icon-douban:before {
  content: "\e601";
}

.icon-facebook:before {
  content: "\e616";
}

.icon-twitter:before {
  content: "\e634";
}

.icon-clock:before {
  content: "\e6f6";
}

.icon-home:before {
  content: "\e611";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-zhihu:before {
  content: "\e6d1";
}

.icon-calendar:before {
  content: "\e603";
}

.icon-author:before {
  content: "\e608";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e735";
}

.icon-stackoverflow:before {
  content: "\e8a7";
}

.icon-linkin:before {
  content: "\e61d";
}

.icon-email:before {
  content: "\e609";
}

.icon-tag:before {
  content: "\e68e";
}

.icon-top:before {
  content: "\e649";
}

.icon-segmentfault:before {
  content: "\e610";
}

.icon-bilibili:before {
  content: "\e606";
}

.icon-arror-right:before {
  content: "\e617";
}

.icon-arror-left:before {
  content: "\e618";
}

.icon-category:before {
  content: "\e627";
}

.icon-disqus:before {
  content: "\e7c6";
}

.icon-flickr:before {
  content: "\e73d";
}

.icon-website:before {
  content: "\e605";
}

/* footer */
.page-footer .top {
  background: #2c3e50;
  padding: 110px 15px;
}
.page-footer .top .social {
  padding-left: 0;
  margin: 0;
  text-align: center;
  font-size: 2.2rem;
}
.page-footer .top .social li {
  display: inline-block;
  padding: 0 15px;
}
.page-footer .top .social li a {
  color: white;
  transition: color .3s;
}
.page-footer .top .social li a:hover {
  color: #2980b9;
}
.page-footer .bottom {
  background: #34495e;
  padding: 30px 15px;
}
.page-footer .bottom .copyright {
  font-size: .8rem;
  text-align: center;
  color: #95a5a6;
  margin: 0;
}
.page-footer .bottom .copyright small {
  color: #7f8c8d;
}
.page-footer .bottom .copyright a {
  color: #7f8c8d;
  text-decoration: underline;
  transition: color .3s;
}
.page-footer .bottom .copyright a:hover {
  color: #2980b9;
}